<a href="https://colab.research.google.com/github/jberkow713/DS-Unit-2-Applied-Modeling/blob/master/2008PositionPlayerProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('/content/MLB2008.csv')

In [0]:
df.head()

            PLAYER  Record_ID#   SALARY  ROOKIE  ...  R1BI%  R2BI%  R3BI%  OBI%
0       Gregg Zaun           1  3750000       0  ...    2.2   12.0   33.3  11.8
1     Henry Blanco           2  3175000       0  ...    1.9    5.4   33.3   8.4
2      Moises Alou           7  7500000       0  ...    0.0   40.0   71.4  27.3
3  Corey Patterson           9  3000000       0  ...    2.6    9.0   40.5  11.0
4      Rod Barajas          10   700000       0  ...    6.8   14.5   32.7  13.8

[5 rows x 134 columns]

In [0]:
df.shape

(337, 134)

In [0]:
df['POS'].value_counts()

2     53
7     42
6     40
4     38
5     35
3     35
9     32
8     32
10    16
11    14
Name: POS, dtype: int64

In [0]:
df['POS'].value_counts(normalize=True)

2     0.157270
7     0.124629
6     0.118694
4     0.112760
5     0.103858
3     0.103858
9     0.094955
8     0.094955
10    0.047478
11    0.041543
Name: POS, dtype: float64

In [0]:
# Continue to clean and explore your data.
#For the evaluation metric you chose, what score would you get just by guessing?
#Can you make a fast, first model that beats guessing?

In [0]:
df.head()

            PLAYER  Record_ID#   SALARY  ROOKIE  ...  R1BI%  R2BI%  R3BI%  OBI%
0       Gregg Zaun           1  3750000       0  ...    2.2   12.0   33.3  11.8
1     Henry Blanco           2  3175000       0  ...    1.9    5.4   33.3   8.4
2      Moises Alou           7  7500000       0  ...    0.0   40.0   71.4  27.3
3  Corey Patterson           9  3000000       0  ...    2.6    9.0   40.5  11.0
4      Rod Barajas          10   700000       0  ...    6.8   14.5   32.7  13.8

[5 rows x 134 columns]

In [0]:
df['SALARY'].mean()

4349423.148367953

In [0]:
#mean abs error of salaries versus average salaries to find baseline error

In [0]:
guess = df['SALARY'].mean()
guess

4349423.148367953

In [0]:
errors = guess - df['SALARY']

In [0]:
mean_absolute_error = errors.abs().mean()

print(f'If we just guessed every salary for ${guess:,.0f},')
print(f'we would be off by ${mean_absolute_error:,.0f} on average.')

If we just guessed every salary for $4,349,423,
we would be off by $3,802,791 on average.

In [0]:
#Big Spread
mean_absolute_error

3802791.2914087446

In [0]:
df['SALARY'].value_counts()

400000      9
5000000     8
3000000     7
1000000     6
6250000     5
           ..
12600000    1
14250000    1
12333333    1
810000      1
1600000     1
Name: SALARY, Length: 204, dtype: int64

In [0]:
print('HUGE RANGE!!')
print(df['SALARY'].max())
df['SALARY'].min()
#League Minimum was 390,000 at the time

HUGE RANGE!!
28000000

400000

In [0]:
df.head()

            PLAYER  Record_ID#   SALARY  ROOKIE  ...  R1BI%  R2BI%  R3BI%  OBI%
0       Gregg Zaun           1  3750000       0  ...    2.2   12.0   33.3  11.8
1     Henry Blanco           2  3175000       0  ...    1.9    5.4   33.3   8.4
2      Moises Alou           7  7500000       0  ...    0.0   40.0   71.4  27.3
3  Corey Patterson           9  3000000       0  ...    2.6    9.0   40.5  11.0
4      Rod Barajas          10   700000       0  ...    6.8   14.5   32.7  13.8

[5 rows x 134 columns]